@charset "UTF-8";
@font-face {
        font-family: 'SpoqaHanSansNeo-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
* {box-sizing: border-box;}
body, h1, h2, h3, h4, ul, li, p, a { margin: 0; padding:0;}
ul, li {list-style: none;}
a { text-decoration: none;}
.hidden {position: absolute; left: -99999px;}
body { margin: 0 auto; font-family: 'SpoqaHanSansNeo-Regular';}
/* header */
#header {overflow: hidden; position: absolute; top:0; left: 0; z-index: 999; width: 100%; height: 80px; background: #fff;
        display: flex; transition: 0.4s;}
#header div:nth-child(1) {position: absolute; width: 100%; height: 80px;}
#header h1 { position: absolute; top:0; left: 0; top:15px; left: 100px; display:block; width: 112px; height: 57px;
        background: url(../images/cesco_logo.png);}
#header h1 a { display: block; text-indent: -9999px;}
#member ul {display: flex;}
#member li {margin-left:20px;}
#member li a {font-size: 14px; color:#000;}
#member { position: absolute; right:50px; top:33px;}
.depth1 { display: flex;}
.depth1 > li { position: relative; text-align: center;}
.depth1 > li > a {display: block; height: 80px; padding: 30px 25px 0; box-sizing: border-box; color: #000; font-size: 20px}
.depth2 li {line-height: 50px;}
.depth2 li a {color: #000}
@media screen and (min-width:1400px) {
.gnbView {display: none;}
#header.on div {border-bottom: 1px solid #dedede;}
#header.on { height: 400px; background: #fff;}
#gnb {margin-left: 250px;}
#header.on .depth1 > li:hover { border-bottom: 3px solid #4096d4; }
.depth2 {position: absolute; top:50px; width: 100%; box-sizing: border-box; padding:30px 0}
#header.on .depth2 li a:hover {font-weight: bold; color:#4096d4;}
}
@media screen and (max-width: 1399px) {
        #header {position: fixed; top:0; left:0;}
        #member {right: 150px;}
        .gnbView {display: block; position: absolute;  top: 20px; right: 20px; z-index: 999990 ;}
        #gnb { position: fixed; top: 80px; right: -200px; width: 200px; height: 100vh;
                background: #fff; font-size: 24px; transition: 0.5s right;}
        #gnb.mobile { right: 0; }
        .depth1 {flex-direction: column; align-items: center;}
        .depth2 { display: none; }

}
/* main */

/* footer */
#footer {width: 100%; height: 180px; background:#dedede; padding: 25px 0; box-sizing: border-box;
        font-size: 14px;}
#footerWrap {width: 1000px; display: flex; justify-content: space-between;
                margin: 0 auto; padding: 0 20px 0;}
#footerImg { width: 112px; height: 57px; background: url(../images/cesco_logo.png) no-repeat
                center; margin: 20px 0 0 40px ;}
#footer #fo ul {display: flex;}
#footer #fo ul li {margin:0 5px 20px 0;}
#footer #fo ul li a {color: #000; line-height: 16px;}
#footer #fo ul li span a {color: #4096d4; font-size: 16px;}
#footer #fo p {margin-bottom: 5px;}
#footer #fo address {text-decoration:none;}
@media screen and (max-width:999px) {
        #footerWrap {width: 100%;}
}
