@charset "utf-8";
section {margin-top: 80px;}
#sectionWrap {width: 1200px; margin: 0 auto;}
h3 {text-align: center; font-size: 50px; margin-top: 180px;}
#solutionList {width: 1074px; margin: 90px auto 0; display: flex;}
#solutionList li {width: 180px; text-align: center; height: 50px; line-height: 50px;
                    border: 1px solid #8c8c8c; margin-left: -1px;
                    }
#solutionList li.selec {background: #0074b7;}
#solutionList li.selec a {color: #fff;}
#solutionList li a {display:block; color: #000;}
.solText {font-size: 22px; text-align: center; margin-top: 100px;}


#apply {width: 1200px; margin: 150px auto;}
#apply div {width: 1100px; height: 180px; margin: 0 auto;
            border: 2px solid #0074b7; border-radius: 20px;
            text-align: center; padding: 30px;}
#apply div p {font-size: 30px; }
#apply div p span {color: #0074b7;}
#apply div a {font-size: 20px; display: block; width: 200px; height: 50px; line-height: 50px;
            background: #0074b7;color: #fff; margin: 20px auto 0; transition: 0.5s;}
#apply div a:hover {border-radius: 15px 0 15px 0;}
