@charset "utf-8";
#solImg {width: 100%; height: 500px; background: url(../images/slide5.jpg) no-repeat center / cover;
        margin-top: 100px;}
#sol5 {margin: 0 auto; text-align: center;}
#sol5 h4 {}
.cescoAir {width: 1200px; display: flex; flex-wrap:wrap; justify-content: space-between;}
.cescoAir > li {width: 600px; height: 150px; margin-top: 30px;}
.cescoAir > li > ul > li:first-child {font-size: 22px; margin-bottom: 10px;
                border-bottom: 1px solid #ccc;}
.cescoAir > li > ul > li:last-child {width: 400px;font-size: 20px; margin: 0 auto;}
/*  */
/*  */